name: Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  build-app:
    name: Build App
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Project
        uses: actions/checkout@v6.0.1

      - name: Setup pnpm
        uses: threeal/setup-pnpm-action@v1.0.0

      - name: Install Dependencies
        working-directory: app
        run: pnpm install

      - name: Check Types
        working-directory: app
        run: pnpm tsc

      - name: Test App
        working-directory: app
        run: pnpm test

      - name: Check Formatting
        working-directory: app
        run: pnpm prettier --check .

      - name: Check Lint
        working-directory: app
        run: pnpm eslint

      - name: Build App
        working-directory: app
        run: pnpm vite build
